section{
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 548px;
    height: 400px;
    box-shadow: 0 5px 20px black, 0 -5px 0 transparent;
    border-radius: 2px;
}
label{
    margin-bottom: 3px;
    margin-top: 8px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    border: 1px solid black;
    border-radius: 3px;
    /* margin-bottom: 20px; */
    width: 400px;
    padding: 6px;
}
button{
    margin-top: 10px;
    margin-right: 300px;
    padding: 5px;
}
div{
    color: green;
    margin-top: 10px;
}
p{
    color: red;
    /* display: none; */
    /* margin-bottom: 10px; */
    margin-top: 8px;
}
